{{> head}}

    {{> navbar}}

    <div class="row">

        <div class="col-8">
            <h1>Acerca de</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio pariatur eum fugiat ab voluptas laborum a, ut sit. Itaque est voluptates consequatur accusamus quam eum cumque deleniti laudantium dolore praesentium?
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/about.png" class="img-thumbnail">
        </div>

    </div>

{{> footer}}